//variable  
$color-white-1: #f5f9fe;
$color-white-2: #e2ebfc;
$color-blue-1: #2a73dd;
$color-blue-2: #1d365e;
//mixin
@mixin btn-theme($color1,$color2){
    border-radius: 8px;
    padding: 15px 50px;
   // border: 2px solid red;
    background: $color1;
    color: $color2;
}
@mixin box-shadow-theme{
    box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
}

.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

header{
    box-shadow: 0 2px 4px $color-white-2;
    background: $color-white-1 ;
    .logo{
        color:$color-blue-1;
    }
    nav{
        a{
            color:$color-blue-2;
            transition: 0.3s;
            position: relative;
            &::before{
                position: absolute;
                content: "";
                width: 0%;
                height: 3px;
                background: $color-blue-1;
                bottom: -5px;
                left: 50%;
                transform: translateX(-50%);
                transition: 0.3s;
            }
            &:hover::before ,&.active::before{
                width: 100%;
            }
            &:hover{
                color: $color-blue-1;
            }
            &.active{
                color: $color-blue-1;
            }
        }
    }
}
.banner{
    background-image: url(../image/product-header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    h2{
        color: $color-blue-1;
    }
    h3{
        color: $color-blue-2;
    }
    .infor{
        @include btn-theme($color-blue-1,#fff )
    }

    .shop{
        @include btn-theme($color-blue-2,#fff);
    }
}
.product{
    background: $color-white-1;
    .list{
        .item{
            @include box-shadow-theme();
            padding: 40px;
            border-radius: 8px
        }
        .img_wraper{
            @include box-shadow-theme();
            border-radius: 8px;
        }
        img{
            width: 100%;

        }
        .desc{
            display: flex;
        }
    }
    
}